@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="icon" href="@Url.Content("~/Content/favicon.ico")" />
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>Restoran Inceleme</title>
    @Styles.Render("~/bundles/layoutcss")
    @Scripts.Render("~/bundles/layoutjs")
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <div id="header">
                @Html.Partial("../Shared/_LayoutHeader")
            </div>
        </div>
    </div>
    @RenderBody()
    <div class="row">
        <div class="col-md-12">
            <div id="footer">
                @*@Html.Partial("../Shared/_LayoutFooter")*@
            </div>
        </div>
    </div>
    <div>
        @Html.Partial("../Shared/_LayoutFooter")
    </div>
    @Scripts.Render("~/bundles/layoutendjs")
</body>
</html>

