@model RestaurantReviews.WebUI.Models.RestaurantVm

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string districtName = Model.District != null ? Model.District.Name : null;
    string categoryName = Model.Category != null ? Model.Category.Name : null;
    int districtId = Model.District != null ? Model.District.Id : 0;
    int categoryId = Model.Category != null ? Model.Category.Id : 0;
    string searchWord = Model.SearchWord;
}

<div class="jumbotron text-center" id="mainpage-jumbotron" style="height:320px;">
    <h1>Restoran İncele</h1>
    <p>İstanbul'daki en iyi restoranları bul</p>
    <form class="form-inline">
        <div class="input-group">
            <div class="input-group-btn dropdown">
                <div class="btn btn-danger inactive-button">
                    Ara:
                </div>
            </div>
            <input id="home-search-word" type="text" class="form-control" style="width:350px;" placeholder="Yemek türü, mekan ismi veya ilçe girin..." autocomplete="off" required>
        </div>
        <div id="search-suggestions" class="center-block">
            <table class="table table-condensed table-hover table-no-margin">
                <tr>
                    <td id="suggestion-restaurant-name" class="text-left">Deneme restoran</td>
                </tr>
            </table>
            <table class="table table-condensed table-hover table-no-margin">
                <thead>
                    <tr class="danger">
                        <th>İlçeler</th>
                    </tr>
                </thead>
                <tbody id="district-suggestions">
                    @* Javascript ile dolduralacak tr'ler *@
                </tbody>
            </table>
            <table class="table table-condensed table-hover table-no-margin">
                <thead>
                    <tr class="danger">
                        <th>Kategoriler</th>
                    </tr>
                </thead>
                <tbody id="category-suggestions">
                    @* Javascript ile dolduralacak tr'ler *@
                </tbody>
            </table>
        </div>
    </form>
</div>

<div class="container">
    <div class="row">
        <form class="form-inline text-center">
            <div class="input-group">
                <div class="input-group-btn dropdown">
                    <div class="btn btn-danger inactive-button">
                        İlçe
                    </div>
                </div>
                <select class="form-control" id="district-filter">
                    <option value="0">İlçe Seçiniz</option>
                    @foreach (var district in Model.Districts) {
                        <option value="@district.Id">@district.Name</option>
                    }
                </select>
            </div>
            <div class="input-group">
                <div class="input-group-btn dropdown">
                    <div class="btn btn-danger inactive-button">
                        Kategori
                    </div>
                </div>
                <select class="form-control" id="category-filter">
                    <option value="0">Kategori Seçiniz</option>
                    @foreach (var category in Model.Categories) {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>
            <input type="button" class="btn btn-danger" value="Filtrele" id="filter-home-page" />
        </form>
    </div>
    <div class="row">
        @if (districtName != null && categoryName != null) {
            <h2 class="text-center">@districtName ilçesinde @categoryName kategorisinde olan restoranlar</h2>
        }
        else if (districtName != null && categoryName == null) {
            <h2 class="text-center">@districtName ilçesindeki restoranlar</h2>
        }
        else if (districtName == null && categoryName != null) {
            <h2 class="text-center">@categoryName kategorisinde olan restoranlar</h2>
        }
        else if (searchWord != "") {
            <h2 class="text-center">İsminde "@searchWord" geçen restoranlar</h2>
        }
        else {
            <h2 class="text-center">İstanbul'un en gözde restoranları</h2>
        }
        <div class="col-md-12 panel panel-default" id="mainpage-left">
            @for (int i = 0; i < Model.RestaurantListVm.Count(); i += 3) {
                <div class="row justify-content-center">
                    @for (int j = i; j < i + 3; j++) {
                        if (j < Model.RestaurantListVm.Count()) {
                            <div class="col-md-4">
                                <div class="panel panel-default restaurant-card" style="opacity:0;">
                                    <div class="panel-body">
                                        <div class="restaurant-panel-image">
                                            <img src="@Model.RestaurantListVm[j].PicturePath" class="img-responsive">
                                        </div>
                                        <div class="row" id="restaurant-header">
                                            <div id="restaurant-header-left" class="col-md-8 text-left">
                                                <a href="/restoran-detay?id=@Model.RestaurantListVm[j].Id" class="restaurant-link" restaurant-id="@Model.RestaurantListVm[j].Id"><h4>@Model.RestaurantListVm[j].Name</h4></a>
                                                <a href="/tum-restoranlar?districtId=@Model.RestaurantListVm[j].District.Id"><h6>@Model.RestaurantListVm[j].District.Name </h6></a>
                                            </div>
                                            <div id="restaurant-header-right" class="col-md-4 text-right">
                                                @if (Model.RestaurantListVm[j].Score == null) {
                                                    <h5>Puan Yok</h5>
                                                }
                                                else {
                                                    <h4>@Model.RestaurantListVm[j].Score / 5</h4>
                                                }
                                                <h6>@Model.RestaurantListVm[j].ReviewCount Yorum</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            }
            <div class="text-center">
                <ul class="pagination">
                    <li><a href="#" class="home-pagination" id="prev-page">&lt;Önceki</a></li>
                    <li><a href="#" class="home-pagination" id="next-page">Sonraki&gt;</a></li>
                </ul>
            </div>
            <input type="hidden" id="max-page" value="@Model.MaxPage" />
            <input type="hidden" id="district-id" value="@districtId" />
            <input type="hidden" id="category-id" value="@categoryId" />
            <input type="hidden" id="search-word" value="@searchWord" />
        </div>

    </div>
</div>
<script src="~/Scripts/Home/HomeIndex.js"></script>

@* Arama Önerileri Kutusu *@
<script type="text/javascript" charset="utf-8">
    $("#search-suggestions").hide();
    var districtArray = [];
    @foreach (var d in Model.Districts)
    {
        @:districtArray.push({id: "@d.Id", name:"@d.Name"});
    }
    var categoryArray = [];
    @foreach (var c in Model.Categories)
    {
        @:categoryArray.push({id: "@c.Id", name:"@c.Name"});
    }
    $("#home-search-word").keyup(function () {
        var typedText = $("#home-search-word").val();
        if (typedText.length>0) {
            $("#search-suggestions").show();
        }
        else {
            $("#search-suggestions").hide();
        }
        $("#suggestion-restaurant-name").html('<a href="/tum-restoranlar?searchWord=' + typedText + '">İsminde <strong>"' + typedText + '"</strong> geçen restoranları ara...</a>');
        autofill(typedText);
    });
    function autofill(typedText) {
        var filteredDistricts = []
        var filteredCategories = []
        for (var i = 0; i < districtArray.length; i++) {
            var districtName = districtArray[i].name;
            districtName = restoreTurkishChars(districtName);
            districtName = districtName.toLowerCase();
            if (districtName.indexOf(typedText.toLowerCase()) >= 0) {
                filteredDistricts.push(districtArray[i]);
            }
        }
        for (var i = 0; i < categoryArray.length; i++) {
            var categoryName = categoryArray[i].name;
            categoryName = restoreTurkishChars(categoryName);
            categoryName = categoryName.toLowerCase();
            if (categoryName.indexOf(typedText.toLowerCase()) >= 0) {
                filteredCategories.push(categoryArray[i]);
            }
        }
        $("#district-suggestions").html("");
        $("#category-suggestions").html("");
        if (filteredDistricts.length>0) {
        for (var i = 0; i < filteredDistricts.length; i++) {
            if (i>3) {
                break;
            }
            $("#district-suggestions").append('<tr><td class="text-left"><a href="/tum-restoranlar?districtId=' + filteredDistricts[i].id + '">' + filteredDistricts[i].name + '</a></td></tr>');
        }
        }
        else {
            $("#district-suggestions").append('<tr><td class="text-left"><strong>"' + typedText + '"</strong> harflerini içeren bir ilçe bulunamadı</td></tr>');
        }
        if (filteredCategories.length>0) {
        for (var i = 0; i < filteredCategories.length; i++) {
            if (i>3) {
                break;
            }
            $("#category-suggestions").append('<tr><td class="text-left"><a href="/tum-restoranlar?categoryId=' + filteredCategories[i].id + '">' + filteredCategories[i].name + '</a></td></tr>');
        }
        }
        else {
            $("#category-suggestions").append('<tr><td class="text-left"><strong>"' + typedText + '"</strong> harflerini içeren bir kategori bulunamadı</td></tr>');
        }
    }
    function restoreTurkishChars(strToBeRestored) {
        return strToBeRestored.replace(/&#246;/g, "ö").replace(/&#231;/g, "ç").replace(/&#252;/g, "ü").replace(/&#199;/g, "Ç").replace(/&#220;/g,"Ü");
    }
</script>