@model RestaurantReviews.WebUI.Areas.Admin.Models.PanelReviewListVm
@{
    ViewBag.Title = "ReviewList";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        @if (Model.Confirmed) {
            <h6 class="m-0 font-weight-bold text-primary">Yorumlar</h6>
        }
        else {
            <h6 class="m-0 font-weight-bold text-primary">Onay Bekleyen Yorumlar</h6>
        }
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Kullanıcı Adı</th>
                    <th>Restoran</th>
                    <th>Tarih</th>
                    <th>Puan</th>
                    <th>Yorum</th>
                    <th class="text-right islem-width">İşlem</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.PanelReviews.Count(); i++) {
                    <tr class="list-min-height" id="review-row-@Model.PanelReviews[i].ReviewId">
                            <td>@((i + 1) + (Model.PageNumber * Model.ShownCount))</td>
                            <td id="username-@Model.PanelReviews[i].ReviewId"><a href="/kullanici?username=@Model.PanelReviews[i].Username">@Model.PanelReviews[i].Username</a></td>
                            <td id="restaurant-name-@Model.PanelReviews[i].ReviewId"><a href="/restoran-detay?id=@Model.PanelReviews[i].RestaurantId">@Model.PanelReviews[i].RestaurantName</a></td>
                            <td>@Model.PanelReviews[i].ReviewDate</td>
                            <td>@Model.PanelReviews[i].Score</td>
                            <td id="review-content-@Model.PanelReviews[i].ReviewId">@Model.PanelReviews[i].ReviewContent</td>
                            <td class="text-right">
                                <a class="btn btn-danger btn-sm" href="#" title="Yorumu Düzenle">
                                    <i class="fas fa-fw fa-edit edit-review" reviewId="@Model.PanelReviews[i].ReviewId"></i>
                                </a>
                                @if (Request.QueryString["confirmed"] == "false") {
                                    <a class="btn btn-danger btn-sm confirm-review" reviewId="@Model.PanelReviews[i].ReviewId" href="#" title="Yorumu Onayla">
                                        <i class="fas fa-fw fa-check"></i>
                                    </a>
                                }
                                <a class="btn btn-danger btn-sm delete-review" reviewId="@Model.PanelReviews[i].ReviewId" href="#" title="Yorumu Sil">
                                    <i class="fas fa-fw fa-trash"></i>
                                </a>
                            </td>
                    </tr>
                }
            </tbody>
        </table>
        <ul class="pagination">
            <li><a href="#" class="review-list-pagination" id="prev-page">&lt;Önceki</a></li>
            <li><span>&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
            <li><a href="#" class="review-list-pagination" id="next-page">Sonraki&gt;</a></li>
        </ul>
        <input type="hidden" id="max-page" name="MaxPage" value="@Model.MaxPage" />
    </div>
</div>
<script src="~/Areas/Admin/Scripts/Review/Review.js"></script>