@model RestaurantReviews.WebUI.Areas.Admin.Models.UpdateRestaurantVm
@{
    ViewBag.Title = "UpdateRestaurant";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Restoran Bilgilerini Güncelle</h6>
    </div>
    @* ----- BEGIN ADD RESTAURANT FORM ----- *@
    <div class="card-body">
        @* ----- BEGIN RestaurantName ----- *@
        <div class="row">
            <div class="col-20">
                <label for="fname">Restoran Adı:</label>
            </div>
            <div class="col-60">
                <input type="text" id="update-restaurant-name" name="RestaurantName" value="@Model.RestaurantName" placeholder="Restoran adını yazın...">
            </div>
        </div>
        @* ----- END RestaurantName ----- *@
        @* ----- BEGIN RestaurantDistrict ----- *@
        <div class="row">
            <div class="col-20">
                <label for="update-restaurant-district">İlçe:</label>
            </div>
            <div class="col-60">
                <select id="update-restaurant-district" name="RestaurantDistrict">
                    @foreach (var item in Model.Districts) {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <input type="hidden" id="restaurant-district" name="RestaurantDistrict" value="@Model.DistrictId" />
        </div>
        @* ----- END RestaurantDistrict ----- *@
        @* ----- BEGIN PhoneNumber ----- *@
        <div class="row">
            <div class="col-20">
                <label for="update-restaurant-phone">Telefon:</label>
            </div>
            <div class="col-60">
                <input type="text" id="update-restaurant-phone" value="@Model.PhoneNumber" name="PhoneNumber" placeholder="5xxxxxxxxx">
            </div>
        </div>
        @* ----- END PhoneNumber ----- *@
        @* ----- BEGIN Adress ----- *@
        <div class="row">
            <div class="col-20">
                <label for="update-restaurant-adress">Adres:</label>
            </div>
            <div class="col-60">
                <input type="text" id="update-restaurant-adress" value="@Model.Adress" name="Adress" placeholder="Restoran adresini yazın...">
            </div>
        </div>
        @* ----- END Adress ----- *@
        @* ----- BEGIN Image Upload ----- *@
        <div class="row">
            <div class="col-20">
                <label for="update-restaurant-adress">Yeni Resim:</label>
            </div>
            <div class="col-60">
                <input type="file" id="add-restaurant-image" name="RestaurantImage">
            </div>
        </div>
        @* ----- END Image Upload ----- *@
        @* ----- BEGIN Image Preview-----*@
        <div class="row">
            <div class="col-20">
                <label for="current-restaurant-image">Resim Önizleme:</label>
            </div>
            <div class="">
                <img src="@Model.CoverImagePath" id="cover-preview" style="width:640px;height:360px;border:1px solid black" />
            </div>
        </div>
        @* ----- END Image Preview-----*@
        @* ----- BEGIN RestaurantCategories ----- *@
        <div class="row">
            <div class="col-20">
                <label for="subject">Kategori:</label>
            </div>
            <div class="col-60">
                <div class="row">
                    @{ double halfCategoryCount = Math.Ceiling(Model.Categories.Count() / 2.0f);
                        var halfCategoryCountInt = Convert.ToInt32(halfCategoryCount);}
                    <div class="col-50">
                        <ul class="update-restaurant-categories">
                            @for (int i = 0; i < halfCategoryCountInt; i++) {
                                if (@Model.CategoryIds.Contains(Model.Categories[i].Id)) {
                                    <li>@Html.CheckBox(Model.Categories[i].Id.ToString(), true, new { @class = "update-restaurant-category" })<span> @Model.Categories[i].Name</span></li>
                                }
                                else {
                                    <li>@Html.CheckBox(Model.Categories[i].Id.ToString(), new { @class = "update-restaurant-category" })<span> @Model.Categories[i].Name</span></li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="col-50">
                        <ul class="update-restaurant-categories">
                            @for (int i = halfCategoryCountInt; i < Model.Categories.Count(); i++) {
                                if (@Model.CategoryIds.Contains(Model.Categories[i].Id)) {
                                    <li>@Html.CheckBox(Model.Categories[i].Id.ToString(), true, new { @class = "update-restaurant-category" })<span> @Model.Categories[i].Name</span></li>
                                }
                                else {
                                    <li>@Html.CheckBox(Model.Categories[i].Id.ToString(), new { @class = "update-restaurant-category" })<span> @Model.Categories[i].Name</span></li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        @* ----- END RestaurantCategories ----- *@
        @* ----- BEGIN RestaurantFeatures ----- *@
        <div class="row">
            <div class="col-20">
                <label for="subject">Özellikler:</label>
            </div>
            <div class="col-60">
                <div class="row">
                    @{ double halfFeatureCount = Math.Ceiling(Model.Features.Count() / 2.0f);
                        var halfFeatureCountInt = Convert.ToInt32(halfFeatureCount);}
                    <div class="col-50">
                        <ul class="update-restaurant-features">
                            @for (int i = 0; i < halfFeatureCountInt; i++) {
                                if (Model.FeatureIds.Contains(Model.Features[i].Id)) {
                                    <li>@Html.CheckBox(Model.Features[i].Id.ToString(), true, new { @class = "update-restaurant-feature" })<span> @Model.Features[i].Name</span></li>
                                }
                                else {
                                    <li>@Html.CheckBox(Model.Features[i].Id.ToString(), new { @class = "update-restaurant-feature" })<span> @Model.Features[i].Name</span></li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="col-50">
                        <ul class="update-restaurant-features">
                            @for (int i = halfFeatureCountInt; i < Model.Features.Count(); i++) {
                                if (Model.FeatureIds.Contains(Model.Features[i].Id)) {
                                    <li>@Html.CheckBox(Model.Features[i].Id.ToString(), true, new { @class = "update-restaurant-feature" })<span> @Model.Features[i].Name</span></li>
                                }
                                else {
                                    <li>@Html.CheckBox(Model.Features[i].Id.ToString(), new { @class = "update-restaurant-feature" })<span> @Model.Features[i].Name</span></li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        @* ----- END RestaurantFeatures ----- *@
        @* ----- BEGIN Submit Button ----- *@
        <div class="row">
            <div class="col-20">
            </div>
            <div class="col-60">
                <input type="submit" value="Restoran Güncelle" id="update-restaurant-button">
            </div>
        </div>
        <input type="hidden" id="current-restaurant-id" name="CurrentRestaurantId" value="@Model.RestaurantId" />
        @* ----- END Submit Button ----- *@
    </div>
    @* ----- END ADD RESTAURANT FORM ----- *@s
</div>
<script src="~/Areas/Admin/Scripts/Restaurant/Restaurant.js"></script>