@model RestaurantReviews.WebUI.Areas.Member.Models.PublicProfileVm
@{
    ViewBag.Title = "PublicProfile";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Kullanıcı Bilgileri</h6>
    </div>
    @* ----- BEGIN PUBLIC PROFILE ----- *@
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="card m-2">
                <div class="card-header">
                    Profil Resmi
                </div>
                <div class="card-body">
                    <div class="col-60">
                        <img id="profile-pic" src="@Model.ProfilePicPath" />
                    </div>
                </div>
            </div>
            <div class="card m-2" style="width:40rem;">
                <div class="card-header">
                    Kullanıcı Detayları
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td><b>Kullanıcı Adı: </b></td>
                                    <td>@Model.Username</td>
                                </tr>
                                <tr>
                                    <td><b>Yorum Sayısı: </b></td>
                                    <td>@Model.ReviewCount</td>
                                </tr>
                                <tr>
                                    <td><b>En Yüksek Restoran: </b></td>
                                    @if (@Model.LikedRestaurantId == 0) {
                                        <td>@Model.LikedRestaurantName</td>
                                    }
                                    else {
                                        <td><a href="/restoran-detay?id=@Model.LikedRestaurantId">@Model.LikedRestaurantName</a> - Puan: @Model.LikedRestaurantScore</td>
                                    }
                                </tr>
                                <tr>
                                    <td><b>En Düşük Restoran: </b></td>
                                    @if (@Model.DislikedRestaurantId == 0) {
                                        <td>@Model.DislikedRestaurantName</td>
                                    }
                                    else {
                                        <td><a href="/restoran-detay?id=@Model.DislikedRestaurantId">@Model.DislikedRestaurantName</a> - Puan: @Model.DislikedRestaurantScore</td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* ----- END PUBLIC PROFILE ----- *@
</div>