@model RestaurantReviews.WebUI.Models.RestaurantDetailVm
@{
    ViewBag.Title = "Restoran Detayları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="restaurant-detail-container">

    @* ----- BEGIN PAGE BODY ----- *@
    <div class="row">

        @* ----- BEGIN LEFT PANEL ----- *@
        <div class="col-md-7 panel panel-default" id="restaurant-left">
            <div id="restaurant-cover">
                <img src="@Model.Restaurant.CoverImagePath" id="restaurant-detail-cover-img" />
            </div>
            <div class="row" id="restaurant-header">
                <div id="restaurant-header-left" class="col-md-10">
                    <h3>@Model.Restaurant.Name</h3>
                    <a href="/tum-restoranlar?districtId=@Model.Restaurant.DistrictId"><h6>@Model.Restaurant.District.Name</h6></a>
                </div>
                <div id="restaurant-header-right" class="col-md-2">
                    @if (Model.Score == null) {
                        <h3>Puan Yok</h3>
                    }
                    else {
                        <h3>@Model.Score/5</h3>
                    }
                    @if (Model.ReviewCount == 0) {
                        <h6>Oy Yok</h6>
                    }
                    else {
                        <h6>Toplam @Model.ReviewCount Oy</h6>
                    }
                </div>
            </div>

            <hr />

            <div class="row" id="restaurant-details">
                <div id="restaurant-details-left" class="col-md-8">
                    <h4><span class="glyphicon glyphicon-earphone"></span> Telefon</h4>
                    <h5>@Model.Restaurant.PhoneNumber</h5>
                    <hr />
                    <h4><span class="glyphicon glyphicon-map-marker"></span> Adres</h4>
                    <h5>@Model.Restaurant.Adress</h5>
                    <br />
                    <strong>Kategori:</strong> @for (int i = 0; i < Model.RestaurantCategories.Count(); i++) {
                        if (!(i == Model.RestaurantCategories.Count() - 1)) {
                            <a href="/tum-restoranlar?categoryId=@Model.RestaurantCategories[i].Id"><span>@Model.RestaurantCategories[i].Name</span></a><span>, </span>
                        }
                        else {
                            <a href="/tum-restoranlar?categoryId=@Model.RestaurantCategories[i].Id"><span>@Model.RestaurantCategories[i].Name</span></a>
                        }
                    }
                </div>
                <div id="restaurant-details-right" class="col-md-4">
                    <h4>Servisler</h4>
                    <ul>
                        @foreach (var item in Model.RestaurantFeatures) {
                            <li>@item</li>
                        }
                    </ul>
                </div>
            </div>

            <hr />

            <div id="photo-gallery">
                @{
                    Html.RenderAction("ImageList", new { restaurantId = Model.Restaurant.Id });
                }
            </div>

            <hr />

            <input type="hidden" id="restaurant-id" value="@Model.Restaurant.Id" />
            @* ----- BEGIN COMMENT SECTION ----- *@
            <div id="comment-section-container">
                @{
                    Html.RenderAction("ReviewList", new { restaurantId = Model.Restaurant.Id, pageNumber = 0 });
                }
            </div>
            @* ----- END COMMENT SECTION ----- *@
        </div>

        @* ----- END LEFT PANEL ----- *@

        @* ----- BEGIN RIGHT PANEL ----- *@
        @{
            Html.RenderAction("SuggestionList", new { restaurantId = Model.Restaurant.Id });
        }
        @* ----- END RIGHT PANEL ----- *@
    </div>
    @* ----- END PAGE BODY ----- *@
</div>
<script src="~/Scripts/Restaurant/RestaurantDetail.js"></script>