@model RestaurantReviews.WebUI.Models.ReviewListVm
@{
    int pageToShow = Model.PageNumber + 1;
}
<div id="comment-section">
    <h1>YORUMLAR</h1>
    @if (HttpContext.Current.User.Identity.IsAuthenticated) {
        <div class="form-group" id="add-review-area">
            <textarea class="form-control" id="txt-comment" rows="4" placeholder="Yorumunuzu giriniz..."></textarea>
            <div class="pull-right" style="display:inline-flex;">
                <form class="form-inline" style="margin-right:5px;">
                    <select class="form-control" id="review-given-score">
                        <option value="0">Puan Seç</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </form>
                <button type="submit" class="btn btn-danger pull-right comment-button" id="add-review-button" restaurant-id="@Model.RestaurantId" data-toggle="modal" data-target="#reviewConfirmModal"><span class="glyphicon glyphicon-send"></span> Yorum Yap</button>
            </div>
        </div>
    }
    else {
        <div class="alert alert-warning">
            Yorum yapabilmek için <a id="login-review" data-toggle="modal" data-target="#loginModal"><strong>giriş</strong></a> yapmalısınız.
        </div>
    }
    <hr />
    <br />
    <div class="row">
        <div class="col-md-6 text-left">
            <strong id="review-count-label">Toplam Yorum :</strong><span> @Model.ReviewCount</span>
        </div>
        <div class="col-md-6 text-right">
            <strong id="review-count-label">@pageToShow. Sayfa</strong>
        </div>
    </div>
    @foreach (var review in Model.Reviews) {

        <div class="panel panel-default" id="single-comment">
            <div class="panel-heading" id="comment-header">
                <div class="row" name="comment-user-info">
                    <div class="col-md-2" name="profile-picture">
                        <img src="@review.ProfilePicPath" class="img-circle" width="75" height="75" />
                    </div>
                    <div class="col-md-10">
                        <a href="/kullanici?username=@review.Username"><strong>@review.Username</strong></a>
                        <br />
                        <span>Toplam Yorum: @review.UserReviewCount</span>
                        <br />
                        <span>@review.ReviewDate</span>
                    </div>
                </div>
            </div>
            <div class="panel-body" name="comment-body">
                <div name="comment-score">
                    <span><strong>Puan @review.Score/5</strong></span>
                </div>

                <div name="comment-content">
                    <p>
                        @review.Content
                    </p>
                </div>
            </div>
        </div>
    }
    <div class="text-center">
        <ul class="pagination">
            <li><a href="#" class="review-pagination" id="prev-page">&lt;Önceki</a></li>
            <li><a href="#" class="review-pagination" id="next-page">Sonraki&gt;</a></li>
        </ul>
    </div>
    <input type='hidden' value='@Model.RestaurantId' id='restaurant-id' />
    <input type='hidden' value='@Model.PageNumber' id='page-number' />
    <input type='hidden' value="@Model.MaxPage" id='max-page' />
</div>
<script>
    $(document).ready(function () {
        var pageNumber = $("#page-number").val();
        console.log("p: " + pageNumber);
        var maxPage = $("#max-page").val();
        console.log("m: " + maxPage);
        if (pageNumber < 1) {
            $("#prev-page").removeAttr("href");
            $("#prev-page").addClass("inactive-link");
        }
        if (pageNumber >= maxPage - 1) {
            $("#next-page").removeAttr("href");
            $("#next-page").addClass("inactive-link");
        };
    });
</script>